<div id='showCandidates' >
  <h3>Other Candidates</h3>
  <h4>Rival Candidate</h4>
  <p>This is your closest Rival: Karma the Chameleon. She is new to the school just like you. People have noticed that she is likely to copy your statements.</p>
  <img width='400' src = '../../img/candidates/karma.png'> <br>
  <h4>Issue Candidates</h4>
  <p>These are candidates who strongly identify with an issue. They don't actively campaign, but have already made an impression on the public.</p>
  <img width='400' src = '../../img/candidates/simon.png'>
  <img width='400' src = '../../img/candidates/zrapp.png'> 
  <img width='400' src = '../../img/candidates/boof.png'> 
  <img width='400' src = '../../img/candidates/clamp.png'> 
</div>