<div class="column-container">
  <div class="leftDisplay">
    <div class="creation-container">
      <h1>Character Creation</h1>
      <button class = 'live' id ='headbutton'>Heads</button>
      <button class = 'live' id ='racebutton'>Race</button>
      <button id ='clothingbutton'>Gender</button>
      <button id ='bodybutton'>BodyType</button><br>
      <label>Candidate Name: </label><input id='charName' type='text' value = 'Val'/><br>
      <button id='candidateCre'>Create Candidate</button><br>
    </div>
  </div>
  <div class="rightDisplay">
    <canvas id='myCanvas' width='500px' height = '555px'></canvas>
  </div>
</div>