
  <h3>Student Functions</h3>
  <p>
    Student Functions are used to increase your fame with certain student populations.<br>
	By attending or hosting events all over campus you can become more well known.<br>
	Each of these functions is likely to draw in students from a certain major or social group and you can perform additional options to draw in more types of students.<br>
	Each of these functions should last 2 hours, but if you want to add an option it will cost an additional hour to prepare.<br> 
    <img width='500' src = '../../img/Help/EventsAndMINIGAMES1.png'>
    <img width='500' src = '../../img/Help/EventsAndMINIGAMES2.png'>
  </p>