<p>
	Polling Results can be viewed in three ways. Pie Graphs, Bar Graphs, and a Table. <br>
    <img style = "width:500px" src = '../../img/Help/bargraph1.png'> 
    <img style = "width:500px" src = '../../img/Help/datatable1.png'><br> 
	
	When viewing the graphs the data will be seperated by question and you will view the data for all the applicable responses to the question.<br>
    <img style = "width:500px" src = '../../img/Help/Piegraphquestions1.png'> 
    <img style = "width:500px" src = '../../img/Help/bargraphpoll1.png'> <br>
	
	The table shows you how each student reponded to each question. <br>
    <img style = "width:500px" src = '../../img/Help/datatable2.png'> <br>
	
	All of these results can be filtered by major, social group, or both. <br>
    <img style = "width:500px" src = '../../img/Help/bargraphpoll2.png'> 
    <img style = "width:500px" src = '../../img/Help/filter2.png'> 
</p>