<p>
	This is the Map Screen from here you can choose what event you would like to do.<br>
	By clicking on your map you can change your location and the events available to you.<br>
	<img src = '../../img/menu/takeapollicon.png' style = 'width:50px'> 
	By clicking on the polling icon. you can take a poll or view the results of any poll you've previously taken. <br>
	<img src = '../../img/menu/makeastatementiconNEW.png' style = 'width:50px'/>
	By clicking on the statements icon you can give statements to the Mars U population and talk about your stance on issues.<br>
	<img src = '../../img/menu/trendreport.png' style = 'width:50px'/>
	By clicking on the trends icon you can check the trend reorts you have gathered based on your previous polls.<br>
	<img src = '../../img/menu/mapicon.png'/ style = 'width:50px'/>
	From any of these pages you can use the map icon to return to the map.<br>
	You can also see the number of days you have left in the election period and the number of hours you have left in a day. <br>
	The map is split up into 4 areas: Commons, Labs, Gym, Library. <br>
	In each of these areas you can perform or attend student functions in order to increase your fame. <br>
	Certain Groups and Majors are associated with places on the map. <br>
	Here is where everybody can be found! <br> Commons: Socialites and Arts Majors <br> Library: Readers and Law Majors<br> Gym: Athletes and Business Majors <br> Labs: Gamers and Technology Majors<br>
</p>