<p>
	This is the Map Screen from here you can choose what event you would like to do.<br>
	<img width = '500px' src = '../../img/Help/menu.png'/><br>
	By clicking on your map you can change your location and the events available to you.<br>
	<img src = '../../img/menu/takeapollicon.png' style = 'width:50px'> 
	By clicking on the polling icon. you can take a poll or view the results of any poll you've previously taken. <br>
	<img src = '../../img/menu/makeastatementiconNEW.png' style = 'width:50px'/>
	By clicking on the statements icon you can give statements to the Mars U population and talk about your stance on issues.<br>
	<img src = '../../img/menu/trendreport.png' style = 'width:50px'/>
	By clicking on the trends icon you can check the trend reorts you have gathered based on your previous polls.<br>
	<img src = '../../img/menu/mapicon.png'/ style = 'width:50px'/>
	From any of these pages you can use the map icon to return to the map.<br><br>
	You can also see the number of days you have left in the election period and the number of hours you have left in a day. <br>
	The map is split up into 4 areas: Commons, Labs, Gym, Library. <br>
	<img width = '500px' src = '../../img/Help/CurrentLocation1.png'/>
	<img width = '500px' src = '../../img/Help/CurrentLocation2.png'/><br>
	In each of these areas you can perform or attend student functions in order to increase your fame. <br>
	Certain Groups and Majors are associated with places on the map. <br>
	Here is where everybody can be found! <br>
	<br> Commons: Socialites <img width = '30px' src = '../../img/icons/socialiteicon.png'/> and Arts Majors <img width = '30px' src = '../../img/icons/artisticon.png'/>
	<br> Library: Readers <img width = '30px' src = '../../img/icons/readericon.png'/> and Law Majors <img width = '30px' src = '../../img/icons/lawicon.png'/>
	<br> Gym: Athletes <img width = '30px' src = '../../img/icons/athleteicon.png'/> and Business Majors <img width = '30px' src = '../../img/icons/businessicon.png'/>
	<br> Labs: Gamers <img width = '30px' src = '../../img/icons/gamericon.png'/> and Technology Majors <img width = '30px' src = '../../img/icons/techicon.png'/>
</p>