  <p>
	<img width='500' src = '../../img/Help/Minigamelocation1.png'/><br>
	Minigames are available as options on some student functions.<br> They require an extra hour to perform, but they give you an extra boost of fame based on your score. <br>
  </p>
  <h3>Minigame Info</h3> 
  <button class="otherBtn" onclick = 'showMiniHelp(1)' >Coffee Run</button>
  <button class="otherBtn" onclick = 'showMiniHelp(2)' >Photobomb</button>
  <button class="otherBtn" onclick = 'showMiniHelp(3)' >Secret Sticker</button>
  <button class="otherBtn" onclick = 'showMiniHelp(4)' >Mean Moves</button>
  <button class="otherBtn" onclick = 'showMiniHelp(5)' >T-Shirt Canon</button>
  
  <div id = 'coffeerundemo' style = 'display:none'>
	In Coffee Run you have to get to the coffee shop fast, but on the way be sure to say hi to everyone you can.<br>
	Click in a lane to move to it.<br>
	High five the people coming towards you, but avoid them if they have food in their hands.<br>  
	<button class="otherBtn" onclick = 'helpMinigamePlayer(1)' >Play or Restart Coffee Run Demo</button>
	<div id='coffeerundemoplayer'></div>
  </div>
  <div id = 'photobombdemo' style = 'display:none'>
	In Photobomb you travel around to each of the areas on the campus.<br>
	You are supposed to take photos including a selection of students from a specific major or group.<br>
	You use the map to enter an area and then click the camera to take a photo.<br>
	<button class="otherBtn" onclick = 'helpMinigamePlayer(2)' >Play or Restart Photobomb Demo</button>
	<div id='photobombdemoplayer'></div>
  </div>
  <div id = 'secretstickerdemo' style = 'display:none'>
	In Secret Sticker you put up posters to attract students to a location.<br>
	Each Poster you put up will draw in a new set of students.<br>
	Check to see if the student is in your target group or major and if so drag and drop a sticker onto them.<br>
	You only have 5 posters to put up so make full use of them.<br>
	Once you return to the map with no posters the game will end.<br> 
	<button class="otherBtn" onclick = 'helpMinigamePlayer(3)' >Play or Restart Secret Sticker Demo</button>
	<div id='secretstickerdemoplayer'></div>
  </div>
  <div id = 'meanmovesdemo' style = 'display:none'>
	In Mean Moves you can improve your fame, by showing off some sick moves.<br>
	Watch what the group does and then click on the buttons in the same order.<br>
	<button class="otherBtn" onclick = 'helpMinigamePlayer(4)' >Play or Restart Mean Moves Demo</button>
	<div id='meanmovesdemoplayer'></div>
  </div>
  <div id = 'tshirtdemo' style = 'display:none'>
	In T-Shirt Canon students will be passing by your stand.<br>
	Shoot them with your Canon to make them happy.<br>
	Click on a box of shirts to change the shirt that you are currently shooting.<br>
	When you select the type of shirt you can see whether or not the student will like it.<br>
	If they like the shirt click on them as they pass by.<br>
	Try to match everyone to the shirt they would like before they exit your field of view.<br> 
	<button class="otherBtn" onclick = 'helpMinigamePlayer(5)' >Play or Restart T Shirt Canon Demo</button>
	<div id='tshirtdemoplayer'></div>
  </div>