  
  <p>
	Minigames are available as options on some student functions. They require an extra hour to perform, but they give you an extra boost of fame based on your score. 
  </p>
  <h3>Practice Minigames</h3> 
  <button class="otherBtn" onclick = 'practiceGame(1)' >Coffee Run</button>
  <button class="otherBtn" onclick = 'practiceGame(2)' >Photobomb</button>
  <button class="otherBtn" onclick = 'practiceGame(3)' >Secret Sticker</button>
  <button class="otherBtn" onclick = 'practiceGame(4)' >Mean Moves</button>
  <button class="otherBtn" onclick = 'practiceGame(5)' >T-Shirt Canon</button>