<p>
  <h3>MyData</h3>
	The MyData menu is where you can go to view data on your candidate's statements and <a style = 'color:blue' onclick='chooseHelpPage(`graphsHelpPage`)'>results from previous polls</a>. <br>
	This page is great for getting  aquick look at where you lie on the issues or a more in depth look at poll results. <br>
	On the right side of the creen you can see a record of how many positive or negative <a style = 'color:blue' onclick='chooseHelpPage(`statementsHelpPage`)'>statements</a> you have made on each issue.
	<br>
		Insert Image Here
	<br>
	On the left below your character there are links to view results of polls that you have already made or <a style = 'color:blue' onclick='chooseHelpPage(`trendsHelpPage`)'>reports</a> based on those polls.
	<br>
		Insert Image Here
	<br>
	
</p>