<div id= 'reportButtons' > 
  <h2> Trend Reports</h2><br>
  <div>
    <h3> General</h3>    
	<button onclick= 'pollMenu()'>Your Polls</button>
  </div>
  <br>
  <div>
    <h3> Reports</h3>
    <button onclick= 'trendReportMenu()'>Lowering Tuition Report</button>
    </div><br>
