<div id = 'practice'>
  <h1>Practice</h1>
  <a onclick = 'practicePoll()' id='index-link' class = 'practiceBtn btn double remove'>Polling Tutorial</a>
  <a onclick = 'practiceGame(1)' id='index-link' class = 'practiceBtn btn double remove'>Coffee Run</a><br>
  <a onclick = 'practiceGame(2)' id='index-link' class = 'practiceBtn btn double remove'>Photobomb</a>
  <a onclick = 'practiceGame(3)' id='index-link' class = 'practiceBtn btn double remove'>Secret Sticker</a>
  <br><a onclick = 'practiceGame(4)' id='index-link' class = 'practiceBtn btn double remove'>Mean Moves</a>
  <a onclick = 'practiceGame(5)' id='index-link' class = 'practiceBtn btn double remove'>T-Shirt Canon</a>
</div>
<a onclick = 'splashScreen()' id='index-link' class = 'btn double remove'>Return to Start Menu</a>