<div id = "intro" style = "text-align:center; ">
    <br>
    <h1 style = " font-size: 250%;">Welcome to Mars University! </h1>
    <br>

    <a onclick = "startAnimatic()" ><img src = '../../img/sitebuttons/newgame.png' /></a>
    <br>
    <br>
    <a onclick = "loadGame()"><img src = '../../img/sitebuttons/continuebutton.png' /></a>
    <br>
    <br>
    <a onclick = "practiceMenu()"><img src = '../../img/sitebuttons/practicebutton.png' /></a>
    <br>
    <br>
    <h2> Please Use Mozilla Firefox or Google Chrome to play this game.</h2>
</div>