<h3>Statements </h3>
  <p>
    Statements are how you make your stance on an issue known.<br>
	When a member of the population can see that your stances on the issue match theirs they are more likely to vote for you.<br>
	Your statements can also affect public opinion of the issues.<br>
	<img width='500' src = '../../img/Help/makeastatement1.png'/>
	<img width='500' src = '../../img/Help/makeastatement3.png'/>
    <br>Be careful not to change your stance on an issue a lot.<br>
	The population won't trust what you have to say if you aren't consistent.<br>
	You can check the history of your statements in the <a style = 'color:blue' onclick='chooseHelpPage(`myDataHelpPage`)'>MyData Page</a>.<br>
	It will take an hour to make a statement to the public.<br>
	<img width='500' src = '../../img/Help/makeastatement2.png'/>
  <img src = '../../img/issues.png'/>
  </p>