<div id='helpfulIcons'>
  <div>
	<p>
    Each student belongs to a specific social group and studies to complete a specific Major.<br>
	These factor into the kinds of issues a student is likely to support as well as how much they know each candidate.<br>
	A student wont vote for you if they dont know you.<br>
    </p><br> 
    <img src = '../../img/interests.png'> 
    <img src = '../../img/majors.png'>
  </div><br>