<div id='helpfulIcons'>
  <div>
  <h3>Students</h3>
	<p>
    Each student belongs to a specific social group and studies to complete a specific major.<br>
	These factor into the kinds of issues a student is likely to support as well as how much they know each <a style = 'color:blue' onclick='chooseHelpPage(`candidatesHelpPage`)'>candidate</a>.<br>
	A student wont vote for you if they dont know you. You can participate in <a style = 'color:blue' onclick='chooseHelpPage(`functionsHelpPage`)'>student functions</a> to raise your fame with groups of students and make <a style = 'color:blue' onclick='chooseHelpPage(`statementsHelpPage`)'>statements</a> to show the public your opinions of the issues.<br>
    </p><br> 
    <img src = '../../img/interests.png'> 
    <img src = '../../img/majors.png'>
	<img src = '../../img/issues.png'/>
  </div><br>