<div>
<h3>Helpful Terms</h3>
<ul>
	<li>Bias: A measurement procedure or estimator is said to be biased if, on the average, it gives an answer that differs from the truth. The bias is the average (expected) difference between the measurement and the truth. For example, if you get on the scale with clothes on, that biases the measurement to be larger than your true weight (this would be a positive bias). The design of an experiment or of a survey can also lead to bias. Bias can be deliberate, but it is not necessarily so.</li>
	<br><li>Population: A collection of units being studied. Units can be people, places, objects, epochs, drugs, procedures, or many other things. Much of statistics is concerned with estimating numerical properties (parameters) of an entire population from a random sample of units from the population. </li>
	<br><li>Sample: A sample is a collection of units from a population</li>
	<br><li>Standard Deviation (SD): The standard deviation of a set of numbers is the rms of the set of deviations between each element of the set and the mean of the set.</li>
	<br><li>Mean: The sum of a list of numbers, divided by the number of elements in the list.</li>
</ul>
</div><br>