<div id="topBar">
    <div id="iconBar">
      <img id='userActionIcon' height = '50' src = '../img/menu/mapicon.png' title = 'Event Map' onclick='userAction()'>
      <img id='pollIcon' height = '50' src = '../img/menu/takeapollicon.png'  onclick='pollMenu()' title = 'Polls'>
      <img id='statementIcon' height = '50' src = '../img/menu/makeastatementiconNEW.png'  onclick='statement()' title = 'Statements'>
      <img id='trendIcon' height = '50' src = '../img/menu/trendreport.png'  onclick='trendReportMenu()' title = 'Trend Reports'>
    </div>
    <div id='remainingDays'>
      <h3>Days Remaining</h3>
      <img src = '../../img/day{{totalDays}}/day{{dayCycle}}.png' width = '300px'>
    </div>
    <div id='remainingHours'>
      <h3>Hours Remaining Today</h3>
      <h2>{{remainingHours}}</h2>
    </div>
    <div id="helpContainer">
      <img id='helpIcon' height = '50' src = '../img/menu/helpicon.png'  class = 'logHelp' title = 'Help'>
    </div>
</div>