<p>
	The Trend Reports will help you get a look at all of the results to questions that you have asked on polls. 
	After asking a question multiple times you can view the answers on each poll in a line graph format. 
	These graphs can help student get a quick look at how the opinons of the population have changed.
</p>