<!DOCTYPE html>
<html lang='en'>
  <head>
    {{>head}}
  </head>
  <body>
    <!-- The HTML for each view goes here -->
    <div id='app'>
      {{{body}}}
      {{>bugReportIcon}}
      {{>bugReportSection}}
    </div>
    <script src ='{{__dirname}}/js/main.js'></script>
  </body>
</html>
