body{font-family:'Helvetica Neue'} 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
tbody
{
	background-color: #ff7f0e
}
#mapArea{
  float:left;
  width:50%;
}

#tutorialBubble{
  position: relative; 
  border: 2px solid black; 
  overflow:hidden; 
  height:500px;
}

/*#questionArea{
  float:right;
  width:35%;
}*/

#poll2{
  display:none;
}

#poll3{
  display:none;
}

#poll4{
  display:none;
}

#poll5{
  display:none;
}
#holo 
{
    z-index: -1; 
    position: absolute;
}
#gameContents
{
     margin: 70px 150px 100px 80px;
}
/*chart stuff*/
.chart div {
  font: 12px sans-serif;
  background-color: #ff7f0e;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#centerCanvas{
  text-align: center;
   margin: auto;
}

canvas{
   position: absolute;
 
   
    left: 0;
    right: 0;
    margin:auto;
}

#mapCanvas{
  position: relative;
  margin: auto;
}
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 14px;
}

#topBar{
    background-color:orange;
    margin-top:.3em;
    display: inline-flex;
    width:100%;
    justify-content: space-between;
}
#iconBar{

}
#iconBar img{
    padding-right: .2em;
}

#leftDisplay{
    display: inline-flex;
    width:40%;
    
    
}
#rightDisplay{
    display: inline-flex;
    float:right;
    width:55%;
}

.locationChoice{
    
}
.locationChoice h2 {
    
}

.duplicateOption{
    color:red;
}
.duplicateOption2{
    color:pink;
}
.duplicateOption3{
    color:yellow;
}
.defaultOption{
    background-color: white;
    border: 2px solid #167083;
    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}
.defaultSubOption{
    color:black;
}

select.pollQ{
    background-color: #e3e0df;
    border: 2px solid #167083;
    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    
    margin-top:.4em;
}
select.subPollQ{
    background-color: #cacaca;
    border: 2px solid #167083;
    
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    
    margin-top: .1em;
}
select.pollQ:focus{
    outline:none;
    border-color: white;
}
select.subPollQ:focus{
    outline:none;
    border-color: white;
}

select option:disabled.defaultOption{
    /*background-color: grey;*/
}
select option:disabled.defaultSubOption{
    background-color: yellow;
}