

<div class="page-header">
	{{#if loggedIn}}
		<a class='btn btn-primary' href='/logout' style='float: right;'>Logout</a>
	{{else}}
		<a class='btn btn-primary' href='/auth/google' style='float: right;'>Sign in with Google</a>
	{{/if}}
	<h1 id="check">{{title}}</h1>
	<a href='/profile'>Profile</a>

</div>

<div id = "gameInfo">
	<p>Welcome to Mars University! <br>First of, let's select your main position that you will be campaigning for!</p>
	<button onclick = "gameCycleStart(0)">Lowering Tuition</button>
	<button onclick = "gameCycleStart(1)">Increase Athletic Budget</button>
	<button onclick = "gameCycleStart(2)">Increase Research Budget</button>
	<button onclick = "gameCycleStart(3)">More Campus Events</button>
	<button onclick = "gameCycleStart(4)">Better Medical Services</button>
</div>

<div id = "questions" style = "display:none;">
<br>
	<p>What percentage of the sample is for you? <input type = "text" id = "q1">%</p>
	<p>What percentage of the sample is neutral towards you? <input type = "text" id = "q2">%</p>
	<p>What percentage of the sample is against you? <input type = "text" id = "q3">%</p>
	<p>What percentage of the population is the sample? <input type = "text" id = "q4">%</p>
	<button id = "answerButton" >Submit Answers</button>


</div>

<div id = "choices" style = "display:none;">
	<button onclick = "changePlayerStats(.3)">Make Poster - 4 Hours</button>
	<button onclick = "changePlayerStats(.4)">Make an News Letter - 8 Hours</button>
	<button onclick = "changePlayerStats(.6)">Set up a Table & Talk to People - 16 Hours</button>
</div>
