<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section id='index-section'>
      <h1 id='index-title'>Welcome</h1>
      <a id='index-link' href='/login' class='btn double remove'>Proceed</a>
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
