<div id='index'>
  <section id='welcome-section'>
    <h1>Welcome</h1>
    <ul>
      <li>
        <a class='btn btn-primary' href='/auth/google'>Returning User</a>
        <a class='btn btn-default' href='/newuser'>New User</a>
      </li>
    </ul>
  </section>
  <footer>
    <ul id='reference-links'>
      <li>
        <a href='/'>Privacy</a>
      </li>
      <li>
        <a href='/'>Support</a>
      </li>
      <li>
        <a href='/'>Terms of Service</a>
      </li>
    </ul>
  </footer>
</div>
