<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section id='index-section'>
	
    <p class="question">1. What is the answer to this question?</p>
	<ul class="answers">
	<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Answer 1</label><br/>
	<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Answer 2</label><br/>
	<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Answer 3</label><br/>
	<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Answer 4</label><br/>
	</ul> 
	<button onclick = "submitAnswer()"> Submit  </button>
	
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
