<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
        <div id = 'sectionHolder'>
  <section id='index-section' class = 'testing'>
	<a class = 'btn double remove' onclick = "buildTests('pre')"> Start Pre-Test </a>
	<a class = 'btn double remove' onclick = "buildTests('post')"> Start Post Test </a>

        <section style = "text-transform: none" id = "population"></section>
        <section style = "text-transform: none" id = "category"></section>
        <section style = "text-transform: none" id = "bias"></section>
        <section style = "text-transform: none" id = "mean"></section>
        <section style = "text-transform: none" id = "percentage"></section>

    </section>
          </div>
    <section id='warning' style = "text-transform: none; display: none">
        <center>All Questions Must Be Answered</center>
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
