<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
        <div id = 'sectionHolder'>
  <section id='index-section' class = 'testing' style = 'background-color:white'>
	<span id = 'consentForms' style ='display:none'>
	<h1>Request to Participate in Research</h1>
	<p>We invite you to take part in our research project.  Our team is conducting a collaborative project designed to identify statistical concepts that are a struggle for deaf and hard of hearing students and to create strategies to help students better understand these topics.</p>
	<p>We are now investigating how learning tools using these communication enhance student learning.  For this study, an identification number will be generated and assigned to any data that is associated with you. Researchers at Rochester Institute of Technology will be the only ones with a list that matches identification numbers with participant names. Data will be kept confidential unless release is legally compelled.</p>
	<p>The project will produce a report that summarizes the data from the assessments described above. This report will be shared among members of the project team. Data for this project may also be used in articles for publication. No report will include information that identifies individual students.</p>
	<p style = 'text-decoration: underline'>What do we want you to do?</p>
	<p>Complete the math and reading assessments and pre-test questions.  Then use the learning tools as instructed. Data may be collected automatically as you use the tools.  After using the learning tools, complete a post-test and answer informal questions about the effectiveness of the tools.</p>
	<p style = 'text-decoration: underline'>How will you benefit from participating?</p>
	<p>We will use the information gained through your responses to improve the strategies and tools and their effectiveness at enhancing student comprehension of the material.  As an incentive, we will provide a payment of $40.</p>
	<p style = 'text-decoration: underline'>Are there risks to participating?</p>
	<p>We do not perceive any risks to participating in this study. Your name will not be used in any report. </p>
	<p>In addition to the participation in the project as described above, further information will be helpful for assessing the supplemental online learning tools.  We need your permission to use your student ID# to collect the following information in your RIT student record: your hearing loss or other identified disability if any, and standardized test scores. </p>
	<p>Providing further information is voluntary. You are free to withdraw your permission at any time without penalty or loss of any benefit to which you may be otherwise entitled. </p>
	<p>Your help and participation is greatly appreciated.  We will be happy to answer any questions you may have.  Thanks for your cooperation.</p>
	<p>Carol Marchetti, Jane Jackson, Sue Foster, and Keith Mousley</p><hr>
	<h1>PROVIDE CONSENT BELOW</h1>
	<p>The study has been discussed with me and all my questions have been answered. I may direct additional questions regarding study specifics to the investigators. I agree to provide additional information and acknowledge the researchers’ obligation to provide me with a copy of this consent form if signed by me.</p>
	<p>I am providing my RIT student identification number so that the researchers may use additional information from my student files such as my standardized test scores and identified disability (if applicable).  I understand this information will be used only for research purposes. Data will be kept confidential unless release is legally compelled. </p>
	
	<h2>Name</h2>
	<input type='text' class = "consent" name='name' value='' id='name'>	
	<h2>Date</h2>
	<input type='text' class = "consent" name='date' value='' id='date'>
	<h2>Student ID</h2>
	<input type='text' class = "consent" name='stuID' value='' id='stuID'>
	<span id = 'postConsent' style ='display:none'>
		<a class = 'btn double remove' onclick = "buildTests('pre')"> Start Pre-Test </a>
	</span>
	<span id = 'postConsentPrompt' style ='display:block'>
	<a class = 'btn double remove' > Choose Test </a>
	</span>
	</span>
	<span id = 'testChoice' style ='display:block'>
	<a class = 'btn double remove' onclick = "preTestConsent()"> Start Pre-Test </a>
	<a class = 'btn double remove' onclick = "buildTests('post')"> Start Post Test </a>
	</span>
        <section style = "text-transform: none" id = "population"></section>
        <section style = "text-transform: none" id = "category"></section>
        <section style = "text-transform: none" id = "bias"></section>
        <section style = "text-transform: none" id = "mean"></section>
        <section style = "text-transform: none" id = "percentage"></section>

    </section>
          </div>
    <section id='warning' style = "text-transform: none; display: none">
        <center>All Questions Must Be Answered</center>
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
