<main id='[new-page-name]'>
  <article class='wrapper'>
    <header>
      <h1>Mars University</h1>
    </header>
    <section>
      <p>Lorem ipsum</p>
    </section>
    <footer id='footer'>
      <p>Thinking Cap &copy; 2016</p>
    </footer>
  </article>
</main>