</main>
<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <div id = 'tabArea'>
        <section id = 'tabs'>
            <ul>
                <li><a href = '#tabcontent' class = 'tablinks' onclick = 'tabChange(event, 0)'>Module 1</a></li>
                <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 1)'>Module 2</a></li>
                <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 2)'>Module 3</a></li>
                <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 3)'>Module 4</a></li>
                <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 4)'>Module 5</a></li>
            </ul>
        </section>
        <section id='report0' class = 'tabcontent'>
            <h2> Population and Sample</h2>
            <br>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0vtvsAYtMK8" frameborder="0" allowfullscreen></iframe>
            </div>
            <br><button onclick = 'logVideo(2)'>Back</button>
        </section>
        <section id='report1' class = 'tabcontent'>
            <h2> Categorical & Numerical</h2>
            <br>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZsHDsGOYkxk" frameborder="0" allowfullscreen></iframe>
            </div>
            <br><button onclick = 'logVideo(2)'>Back</button>
        </section>
        <section id='report2' class = 'tabcontent'>
            <h2> Bias & Random</h2>
            <br>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JTuvWfkE-_Y" frameborder="0" allowfullscreen></iframe>
            </div>
            <br><button onclick = 'logVideo(3)'>Back</button>
        </section>
        <section id='report3' class = 'tabcontent'>
            <h2> Mean & Standard Deviation</h2>
            <br>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X7pEpb54kto" frameborder="0" allowfullscreen></iframe>
            </div>
            <br><button onclick = 'logVideo(4)'>Back</button>
        </section>
        <section id='report4' class = 'tabcontent'>
            <h2> Poroportion & Percent</h2>
            <br>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dhXH59c1CE4" frameborder="0" allowfullscreen></iframe>
            </div>
            <br><button  onclick = 'logVideo(5)'>Back</button>
        </section>
    </div>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
