<div id='helpPage' class='hide'>
    <div id = 'helpContent'>
	
	</div>
    <ul id='helpCancel'>
      <li class='help-screen-action'>
        <button id='help-screen-cancel-button' type='reset' name='cancelHelpScreen'>Cancel</button>
      </li>
	</ul>	  
</div>
