<div id='helpPage' class='hide'>
  <div id='help-section-form'>
    <h1 id='help-section-title'>Help Section</h1>
    <div id = 'helpNavigation'>
		<ul>
			<li> <a onclick = 'chooseHelpPage("studentsHelpPage")' >Students</a>       </li>
			<li> <a onclick = 'chooseHelpPage("candidatesHelpPage")' >Candidates</a>   </li>
			<li> <a onclick = 'chooseHelpPage("mapHelpPage")' >Game Map</a>            </li>
			<li> <a onclick = 'chooseHelpPage("functionsHelpPage")' >Functions</a>     </li>
			<li> <a onclick = 'chooseHelpPage("statementsHelpPage")' >Statements</a>   </li>
			<li> <a onclick = 'chooseHelpPage("minigameHelpPage")' >Minigames</a>      </li>
			<li> <a onclick = 'chooseHelpPage("pollHelpPage")' >Polls</a>              </li>
			<li> <a onclick = 'chooseHelpPage("graphsHelpPage")' >Polling Results</a>  </li>
			<li> <a onclick = 'chooseHelpPage("trendsHelpPage")' >Reports</a>          </li>
		</ul>
	</div><br>
    <div id = 'helpContent'>
	
	</div>
    <ul id='helpCancel'>
      <li class='help-section-action'>
        <button class = "logHelpEnd" id='help-section-cancel-button' type='reset' name='cancelHelpScreen' onclick = 'hideHelpPage()'>Cancel</button>
      </li>
	</ul>
  </div>
</div>
