<main id='game'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
<section>
<div id = "gameArea" >
  <img id = 'holo-corner' src = '../../img/holopad-corner.png' width = '1200' height = '738' >
  <div id="holopad">
  <div id = "gameContents">

  <div id = "playerInfo">
      <div id="remainingHours"></div>
      <div id="remainingDays"></div>
  </div>
  
  <div id="lowerContent">
      <div id="loadContainer">
        <h2>Loading Game...</h2>
        <progress id="loadBar" value="0" max="100"></progress>
      </div>

    <div id = "centerDisplay">

    </div>

    <div id = "userAction">
      <div id="contentContainer" class="columns">
        <div id="mainContent" class="left">
            <div id = "choices" style = "display:none;">
                <h3 id="infoText"></h3>
                <div id = "LabsChoice" style = "display:none;">

                </div>
                <div id = "GymChoice" style = "display:none;">

                </div>
                <div id = "CommonsChoice" style = "display:none;">

                </div>
                <div id = "CafeChoice" style = "display:none;">

                </div>
                <div id = "LibraryChoice" style = "display:none;">

                </div>

                <div id = "eventInput" style = "display:none;">

                </div>

            </div>
            <div id = "eventInfo">
            </div>
            


        </div>
        <div id="visualContent" class="right">
            <div id = "eventImg" style = "display:none;">

            </div>
            <div id = "table" class="pollTable" style = "display:none;">
              <table id = "tab" class="sortable">
              <thead id="tableHead">

              </thead>
              <tbody id="pollTable">
              </tbody>
              </table>
            </div>
            <div class = "mapContainer">
              <div id = "map" style = "display:none;">

              </div>
            </div>

        </div>
      </div>

      <div id = "next">
      </div>
      <div id = "back">
      </div>







      </div>
  </div>
  </div>
</div>
</div>
<!-- 
  <p>First let's have your candidate pick their focus </p>
  <button onclick = 'gameCycleStart(0)'>Lowering Tuition</button>
  <button onclick = 'gameCycleStart(1)'>Increase Athletic Budget</button>
  <button onclick = 'gameCycleStart(2)'>Increase Research Budget</button>
  <button onclick = 'gameCycleStart(3)'>More Campus Events</button>
  <button onclick = 'gameCycleStart(4)'>Better Medical Services</button>
  -->
</section>
</article>
</main>

<div id="templateTest"></div>
