<main id='game'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section>
<div id = "gameArea">
  <div id = "playerInfo">
  </div>
  <div id = "gameInfo">
	<div id = "intro" style = "text-align:center; ">
		<br>
		<h1 style = " font-size: 250%;">Welcome to Mars University! </h1>
		<br>
	
		<a onclick = "startAnimatic()" class = 'btn double remove' ">New Game</a>
		<br>
		<br>
		<a onclick = "loadGame()" class = 'btn double remove'">Continue</a>
		<br>
		<br>
		<a onclick = "startPractice()" class = 'btn double remove'">Practice</a>
	</div>
    
  </div>
  
  <div id = "questions" style = "display:none;">
  <br>
    <p>What percentage of the sample is for you? <input type = "text" id = "q1">%</p>
    <p>What percentage of the sample is neutral towards you? <input type = "text" id = "q2">%</p>
    <p>What percentage of the samplenext is against you? <input type = "text" id = "q3">%</p>
    <p>What percentage of the population is the sample? <input type = "text" id = "q4">%</p>
    <button id = "answerButton" >Submit Answers</button>
  
  
  </div>
  
  <div id = "userAction">
    <div id = "choices" style = "display:none;">
    
    </div>
    
    <div id = "event" style = "display:none;">
    
    </div>
    
    <div id = "table" style = "display:none;">
      <table id = "tab" class="sortable">
      <thead id="tableHead">
      
      </thead>
      <tbody id="pollTable">
      </tbody>
      </table>
    </div>
    
    <div id = "next" style = "display:none;">
    
    </div>
  </div>
</div>
<!-- 
  <p>First let's have your candidate pick their focus </p>
  <button onclick = 'gameCycleStart(0)'>Lowering Tuition</button>
  <button onclick = 'gameCycleStart(1)'>Increase Athletic Budget</button>
  <button onclick = 'gameCycleStart(2)'>Increase Research Budget</button>
  <button onclick = 'gameCycleStart(3)'>More Campus Events</button>
  <button onclick = 'gameCycleStart(4)'>Better Medical Services</button>
  -->
</section>
