<main id='game'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section>
<div id = "gameArea" >
  <img id = 'holo' src = '../../img/holopad-topbar.png' width = '1200' height = '738' >
  <br>
  <img id = 'holo-corner' src = '../../img/holopad-corner.png' width = '1200' height = '738' >
  <div id = gameContents>
  <div id = "playerInfo">
      <div id="remainingHours"></div>
      <div id="remainingDays"></div>
  </div>
  <div id = "gameInfo">
	<div id = "intro" style = "text-align:center; ">
		<br>
		<h1 style = " font-size: 250%;">Welcome to Mars University! </h1>
		<br>
	
		<a onclick = "startAnimatic()" ><img src = '../../img/sitebuttons/newgame.png' /></a>
		<br>
		<br>
		<a onclick = "loadGame()"><img src = '../../img/sitebuttons/continuebutton.png' /></a>
		<br>
		<br>
		<a onclick = "startPractice()"><img src = '../../img/sitebuttons/practicebutton.png' /></a>
		<br>
		<br>
        <h2> Please Use Mozilla Firefox or Google Chrome to play this game.</h2>
	</div>
    
  </div>
  
  <div id = "questions" style = "display:none;">
  <br>
    <p>What percentage of the sample is for you? <input type = "text" id = "q1">%</p>
    <p>What percentage of the sample is neutral towards you? <input type = "text" id = "q2">%</p>
    <p>What percentage of the samplenext is against you? <input type = "text" id = "q3">%</p>
    <p>What percentage of the population is the sample? <input type = "text" id = "q4">%</p>
    <button id = "answerButton" >Submit Answers</button>
  
  
  </div>
  
  <div id = "userAction">
    <div id="leftDisplay">

        <div id = "choices" style = "display:none;">
            <h3 id="infoText"></h3>
            <div id = "LabsChoice" style = "display:none;">

            </div>
            <div id = "GymChoice" style = "display:none;">

            </div>
            <div id = "CommonsChoice" style = "display:none;">

            </div>
            <div id = "CafeChoice" style = "display:none;">

            </div>
            <div id = "LibraryChoice" style = "display:none;">

            </div>

            <div id = "eventInput" style = "display:none;">

            </div>
        </div>
        <div id = "event" style = "display:none;">
    
        </div>
    </div>
    <div id="rightDisplay">
        <div class = "mapContainer">
          <div id = "map" style = "display:none;">

          </div>
        </div>
    </div>
    
    
    
    
    <div id = "table" style = "display:none;">
      <table id = "tab" class="sortable">
      <thead id="tableHead">
      
      </thead>
      <tbody id="pollTable">
      </tbody>
      </table>
    </div>
    
    <div id = "next" style = "display:none;">
    </div>
    </div>
  </div>
</div>
<!-- 
  <p>First let's have your candidate pick their focus </p>
  <button onclick = 'gameCycleStart(0)'>Lowering Tuition</button>
  <button onclick = 'gameCycleStart(1)'>Increase Athletic Budget</button>
  <button onclick = 'gameCycleStart(2)'>Increase Research Budget</button>
  <button onclick = 'gameCycleStart(3)'>More Campus Events</button>
  <button onclick = 'gameCycleStart(4)'>Better Medical Services</button>
  -->
</section>
