<main id='mars-university'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.gameTitle}}</h1>
    </header>

    <section>
      <ul class='card-list'>
        <li class='card'>
          <a href='/game'>New Start</a>
        </li>
        <li class='card'>
          <a href='/dashboard'>Continue</a>
        </li>
        <li class='card'>
          <a href='/dashboard'>Video</a>
        </li>
        <li class='card'>
          <a href='/dashboard'>Review</a>
        </li>
      </ul>
    </section>

    <footer id='footer'>
      <ul id='account-links'>
        <li>
          <a class='btn' href='/logout'>Logout</a>
        </li>
        <li>
          <a class='btn' href='/about'>About</a>
        </li>
      </ul>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
