#index {

  #index-section {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
  }

  #index-title {
    font-size: 4em;
    margin-bottom: $content-padding;
    animation: fadeOut 2s;
  }

  #index-link {
    animation: fadeIn 0.2s;
    font-size: 3em;
    height: 110px;
    line-height: 100px;
  }
}
