#research {

  #tabs{  
    ul{
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
      color: #AAAAAA;
    }
    li{
      display: inline;
       float: left;
    }

    a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }
    
    a:hover {
    background-color: #111111;
    }

    a:active{
     background-color: #333333;
    }
  }
    #download
    {
        float:right;
        color: #000000;
    }
    #download:hover
    {
        color: #0000FF;
    }
    #subtabs{  
    ul{
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #888888;
      color: #AAAAAA;

    }
    li{
      display: inline;
       float: left;
    }

    a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }
    
    a:hover {
    background-color: #AAAAAA;
    }

    a:active{
     background-color: #333333;
    }
  }

#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display:none;
}

#modal {
  display:none;
  margin: auto;
  position:absolute;
  left: 20%;
  width: 60%;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}
#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}



  #report1{
    display: none;
  }

  #report2{
    display: none;
  }

  #report3{
    display: none;
  }

  #report4{
    display: none;
  }

  #subreport1{
    display: none;
  }

    #subreport3{
    display: none;
  }

  #searchArea{
    background-color: #c0cdd1;
    width: 100%;
    height:400px;
    padding:10px;
  }

  table tr td{
   border: 1px solid black;
  }
  tr{
   border: 1px solid black;
  }
}
