#footer {
	padding: calc(#{$content-padding});
	text-align: center;

	@include MQ(M) {
		padding: calc(#{$content-padding} * 5);
	}

	// Stick footer to bottom when main takes whole viewport
	.full-page & {
		// Position it absolutely so we can place it exactly where we want
		position: absolute;

		// Make it full width
		width: 100%;

		// Stick footer to bottom
		bottom: 0;
		// Use the centering mixin to center it horizontally
		@include center(x);
	}
}

#account-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@include MQ(M) {
		justify-content: space-between;
	}

	li {
		margin: $content-padding calc(#{$content-padding} * 2);
	}
}

#reference-links {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;

	li {
		margin: $content-padding calc(#{$content-padding} * 2);
	}
}
