/*chart stuff*/
.chart div {
  font: 12px sans-serif;
  background-color: #ff7f0e;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 14px;
}

#barChartDiv, #pieChartDiv{
  text-align: left;
}

.c3-axis-y text, .c3-axis-x text, .c3-chart-texts
{
  font-size: 14px !important; 
  font-family: $game-body;
  
}

.c3-chart-texts text{
  fill: black !important;
}

.c3-legend-item, .c3-tooltip th, .c3-tooltip td, .c3-tooltip-container
{
  font-size: 14px !important;
  font-family: $game-body;
}

.barChart{
  margin-top:-20px;
  margin-bottom:-20px;
}

