// Colors
// -----------------------
$light-aqua: #90e7f2;
$aqua: #6bd0e2;
$medium-aqua: #65c5da;
$dark-aqua: #004352;

$dark-blue: #005f9c;

$light-orange: #ffb05c;
$orange: #ff8400;
$gold: #ffdc91;

// Fonts
// ------------------------

$game-body: 'Helvetica Neue', sans-serif;
$game-header: 'Helvetica Neue', sans-serif;

