// Colors
// -----------------------
$light-aqua: #90e7f2;
$aqua: #6bd0e2;
$medium-aqua: #65c5da;
$dark-aqua: #004352;

$light-orange: #ffb05c;
$orange: #ff8400;

// Fonts
// ------------------------

$game-primary-font: 'Helvetica Neue', sans-serif;
$game-header-font: 'Helvetica Neue', sans-serif;

