</main>
<main id='index'>
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section id='index-section'>
	<div>
            
    </div>
    <h2> Mean & Standard Deviation</h2>
    <br>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X7pEpb54kto" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <!--<div><h3> Embedded Youtube Video</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/VSrv_n4tw7w" frameborder="0" allowfullscreen></iframe></div>-->
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
