<div id='newUser'>
  <form method='post' action='/newuser'>
    <legend>
      New User
    </legend>
      <p>
        Please fill out the fields below
      </p>
      <ul>
        <li>
          <label id='firstNameLabel' for='firstName'>First Name:</label>
          <input id='firstName' type='text' name='firstName' required/>
        </li>
        <li>
          <label id='lastNameLabel' for='lastName'>Last Name:</label>
          <input id='lastName' type='text' name='lastName' required/>
        </li>
        <li>
          <label id='usernameLabel' for='username'>Username:</label>
          <input id='username' type='text' name='username' required/>
        </li>
        <li>
          <label id='majorLabel' for='major'>Major:</label>
          <input id='major' type='text' name='major'/>
        </li>
        <li>
          <label>Gender</label>
          <ul>
            <li>
              <input id='femaleGender' type='radio' name='gender' value='female'>
              <label id='femaleGenderLabel' for='femaleGender'>Female</label>
            </li>
            <li>
              <input id='maleGender' type='radio' name='gender' value='male'>
              <label id='maleGenderLabel' for='maleGender'>Male</label>
            </li>
            <li>
              <input id='otherGender' type='radio' name='gender' value='other'>
              <label id='otherGenderLabel' for='otherGender'>Other</label>
            </li>
          </ul>
        </li>
        <li>
          <label>Do you identify as part of the Hard of Hearing/Deaf Community?</label>
          <ul>
            <li>
              <input id='yesDeafCommunity' type='radio' name='deafCommunity' value='yes'>
              <label id='yesDeafCommunityLabel' for='yesDeafCommunity'>Yes</label>
            </li>
            <li>
              <input id='noDeafCommunity' type='radio' name='deafCommunity' value='no'>
              <label id='noDeafCommunityLabel' for='noDeafCommunity'>No</label>
            </li>
          </ul>
        </li>
        <li>
          <label>Is your ethnicity Hispanic or Latino?</label>
          <ul>
            <li>
              <input id='yesLatino' type='radio' name='latino' value='yes'>
              <label id='yesLatinoLabel' for='yesLatino'>Yes, I am of Hispanic or Latino origin.</label>
            </li>
            <li>
              <input id='noLatino' type='radio' name='latino' value='no'>
              <label id='noLatinoLabel' for='noLatino'>No, I am not of Hispanic or Latino origin.</label>
            </li>
          </ul>
        </li>
        <li>
          <label>What race(s) do you consider yourself to be?</label>
          <ul>
            <li>
              <input id='raceWhite' type='checkbox' name='race' value='white'>
              <label id='raceWhiteLabel' for='raceWhite'>White</label>
            </li>
            <li>
              <input id='raceBlack' type='checkbox' name='race' value='black'>
              <label id='raceBlackLabel' for='raceBlack'>Black or African American</label>
            </li>
            <li>
              <input id='raceAsian' type='checkbox' name='race' value='asian'>
              <label id='raceAsianLabel' for='raceAsian'>Asian</label>
            </li>
            <li>
              <input id='raceAmerindian' type='checkbox' name='race' value='amerindian'>
              <label id='raceAmerindianLabel' for='raceAmerindian'>American Indian or Alaskan Native</label>
            </li>
            <li>
              <input id='racePacific' type='checkbox' name='race' value='pacifir'>
              <label id='racePacificLabel' for='racePacific'>Native Hawaiian or Other Pacific Islander</label>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        Please read over the form below and choose whether you agree to be part of the research.
        Otherwise you can opt out, but still choose whether the data will be kept.
      </p>
      <div id='consent-form'>
        <h2>Research Authorization</h2>
        <p> I.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> II.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> III.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> IV.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> V.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> VI.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> VII.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> VII.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p> IX.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div id='consent-form-field'>
        <p>
          Do you agree to the conditions stated above?
        </p>
        <ul>
          <li>
            <input id='researchAgreeRadio' type='radio' name='consentAgreement' value='agree'>
            <label id='researchAgreeRadioLabel' for='researchAgreeRadio'>Agree to Research</label>
          </li>
          <li>
            <input id='keepDataRadio' type='radio' name='consentAgreement' value='keepData'>
            <label id='keepDataRadioLabel' for='keepDataRadio'>Opt out but keep data</label>
          </li>
          <li>
            <input id='noDataRadio' type='radio' name='consentAgreement' value='noData'>
            <label id='noDataRadioLabel' for='noDataRadio'>Opt out and don't keep data</label>
          </li>
        </ul>
      </div>
      <button class='btn btn-primary' type='submit' name='userInfoSubmit' value='true'>Submit</button>
      <button class='btn btn-default' type='reset'>Reset</button>
  </form>
</div>
